<settings><FPS>144</FPS><TPS>120</TPS><pauseKey>27</pauseKey><displayFPS>1</displayFPS><displayTPS>1</displayTPS><debugMode>1</debugMode><PlayerKeys type="array"><player><driveForwardKey>119</driveForwardKey><driveBackwardKey>115</driveBackwardKey><steerLeftKey>97</steerLeftKey><steerRightKey>100</steerRightKey><useItem>32</useItem></player><player><driveForwardKey>1073741906</driveForwardKey><driveBackwardKey>1073741905</driveBackwardKey><steerLeftKey>1073741904</steerLeftKey><steerRightKey>1073741903</steerRightKey><useItem>48</useItem></player></PlayerKeys></settings>